


.header{
  background: #001e62;
  padding: 15px 15px 15px 40px;
}
.header h1{
  margin: 0;
  line-height: 16px;
  word-spacing: 100vw;
}
.header h1 a{
  color: #fff;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.header h1 span{
  display: block;
  height: 2px;
  background: #c8103e;
  width: 10%;
  margin-top: 10px;
}

.lPage{
  background: #001440;
  color: #fff;
  padding: 0px 0px 0px 40px;
}

.lPage-a{
  display: flex;
  flex-direction: column;
  height: 100%;
  place-content: center;
}
.lPage-a h1{
  font-weight: bold;
  font-size: 30px;
}
.lPage-a p{
  font-size: 22px;
  margin-bottom: 0;
}
.lPage-a h3{
  margin: 30px 0 0 0;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
}

.lPage-b{
  height: 400px;
  width: 100%;
  cursor: pointer;
}
.lPage-b img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.lPage-c{
  background: #001e62;
  padding: 15px 40px 15px 40px;
  color: #fff;
}
.lPage-c h2{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
}
.lPage-c h2 span{
  display: block;
  font-size: 14px;
  padding-bottom: 5px;
}
.lPage-c h2 i{
  display: block;
  font-size: 13px;
  text-decoration: underline;
  color: #999;
  margin-top: 10px;
}
.lPage-c aside{
  display: flex;
  height: 100%;
  place-content: center;
  align-items: center;
}
.lPage-c aside button{
  border: 1px solid;
  outline: none;
  background: none;
  color: #fff;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.lPage-d{
  background: #ebe8e5;
  padding: 40px;
}
.lPage-d h1{
  color: #001e62;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 15px;
}
.lPage-d p{
  color: #001e62;
  font-size: 18px;
  text-align: justify;
  margin-bottom: 50px;
}
.lPage-d ul{
  padding: 0px 0 0px 10px;
  margin: 10px 0 10px 0;
  border-left: 3px solid #c8103e;
  color: #001e62;
}
.lPage-d ul li{
  list-style: none;
  font-size: 17px;
  text-align: justify;
}
.lPage-d ul li b{
  font-size: 30px;
  font-weight: 400;
}
.lPage-d ul li span{
  display: block;
  font-size: 10px;
  padding-top: 10px;
  color: #999;
}

.lPage-e{
  background: #001e62;
  color: #fff;
  padding: 15px;
}
.lPage-e form label{
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  cursor: initial;
  color: #ccc;
}
.lPage-e form button{
  width: 100%;
  border: 1px solid;
  background: none;
  color: #fff;
  outline: none;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
.lPage-e form input{
  font-size: 13px;
}
.lPage-e form select{
  font-size: 13px;
}
.lPage-e form aside{
  color: #ccc;
  font-size: 12px;
  margin-top: 10px;
}
.lPage-e form aside b{
  color: #fff;
  cursor: pointer;
}

.lPage-f{
  background: #001e62;
  color: #fff;
  padding: 40px 0 15px 0;
}
.lPage-f h1{
  font-weight: bold;
  font-size: 30px;
  font-family: serif;
  margin-bottom: 40px;
}
.lPage-f h2{
  background: #001440;
  padding: 30px;
  font-size: 22px;
  margin: 0 0 -15px 0;
  border-radius: 15px 15px 0 0;
}
.lPage-f h2 span{
  color: #ccc;
  font-weight: 400;
}

.lPage-g{
  background: #ebe8e5;
  padding: 40px;
}
.lPage-g h1{
  color: #001440;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}
.lPage-g p{
  color: #001e62;
  margin-bottom: 0;
  font-size: 18px;
}
.lPage-g p a{
  text-decoration: underline !important;
  cursor: pointer;
}
.lPage-g aside{
  display: flex;
  height: 100%;
  align-items: center;
}
.lPage-g button{
  background: #001e62;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 150px;
  font-size: 14px;
}

.lPage-h{
  background: #001e62;
  color: #fff;
  padding: 40px;
}
.lPage-h aside{
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}
.lPage-h p{
  text-align: justify;
  margin-bottom: 0;
  font-size: 14px;
}
.lPage-h img{
  width: auto;
  max-width: 100%;
}


@media only screen and (max-width: 768px){
  .header{
    padding: 10px 10px 10px 0px;
  }
  .header h1 span {
    width: 20%;
  }
  .lPage{
    padding: 10px 0 0 0;
  }
  .lPage-a h3{
    margin: 15px 0 15px 0;
  }
  .lPage-a h1{
    font-size: 24px;
  }
  .lPage-a p{
    font-size: 18px;
  }
  .lPage-b{
    height: 240px;
  }
  .lPage-c{
    padding: 15px 0px 15px 0px;
  }
  .lPage-c h2{
    border-bottom: 1px dotted;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .lPage-d{
    padding: 15px 0 0 0;
    border-bottom: 10px solid #ebe8e5;
  }
  .lPage-f{
    padding: 15px 0 15px 0;
  }
  .lPage-f h1{
    font-size: 20px;
  }
  .lPage-f h2{
    padding: 15px;
    font-size: 18px;
  }
  .lPage-g{
    padding: 15px 0 15px 0;
  }
  .lPage-g button{
    margin-top: 10px;
  }
  .lPage-h{
    padding: 15px 0 15px 0;
  }
  .lPage-h p{
    margin: 10px 0 0 0;
  }
}