


.bottom-area{
    margin-top: 30px;
    color: #001d61;
}
.bottom-area h2{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bottom-area ul{
    padding: 0 0 0 0px;
    margin: 0 0 30px 0;
}
.bottom-area ul li{
    margin: 5px 0 5px 15px;
}