


.landing-page-b{
    margin: 30px 0 0 0;
    color: #001d61;
}
.landing-page-b h4{
    font-size: 15px;
    font-weight: bold;
}
.landing-page-b p{
    /* font-size: 15px; */
    margin: 0;
    text-align: justify;
}