<td align="center" bgcolor="#fff">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center">
            <img src="assets/images/DSB_mailer_banner.jpg" style="max-width:100%; display:block; border:0;">
          </td>
        </tr>
      </tbody>
    </table>
    </td>
