<td align="center" bgcolor="#f3f3f3" style="padding:30px;" valign="top" width="600">
    <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
      <tbody>
        <tr>
          <td bgcolor="#f3f3f3" class="mob_view border_none no-padding" style="padding:0 20px 20px 0px;" valign="top" width="50%">
          <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
            <tbody>
              <tr>
                <td align="left" style="font-size:24px; font-weight:bold; color:#0080c8;font-family:Arial,Helvetica, sans-serif;" valign="top" width="32"><strong>Certificate</strong></td>
              </tr>
              <tr>
                <td align="left" style="font-size:16px; font-family:Arial,Helvetica, sans-serif; color: #272525;line-height:23px;padding-top:20px;">Upon successful completion of the program, participants will be awarded a verified digital certificate by EMERITUS, in collaboration with Columbia Business School Executive Education<br>
                &nbsp;</td>
              </tr>
            </tbody>
          </table>
          </td>
          <td bgcolor="#f3f3f3" class="mob_view no-padding" valign="top" width="50%">
          <table bgcolor="#f3f3f3" border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="100%">
            <tbody>
              <tr>
                <td align="center" bgcolor="#f3f3f3" style="padding:10px 2px;" valign="top" class="">
                  <img src="assets/images/dsb-certificate-260.png" style="max-width:100%; display:block; border:0;"> 
                </td>
              </tr>
            </tbody>
          </table>
          </td>
        </tr>
      </tbody>
    </table>
    </td>

    <style type="text/css">
        @media screen and (max-width: 525px) {
    
          .mob_view-a{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 20px;
          }
          .mob_view{
            width: 100%;
            display: block;
                text-align: center;
          }
          .logo img {
            margin: 0 auto;
          }
          .responsive-table {
            width: 100%;
          }
          .no-padding {
            padding: 0 !important;
          } 
          .main-section-no-padd{
            padding:30px 15px 30px 15px !important;
          }
    
          .mob_view-b{
            width: 100%;
            display: block;
            text-align: center;
            margin-bottom: 2px;
          }
    
        }
      </style>
