


.landing-page{
    background-color: #f3f3f3;
    padding: 30px;
}
.landing-page-a{
    text-align: center;
}
.landing-page-a h1{
    color: #001d61;
    font-family: initial;
    font-weight: bold;
    font-size: 32px;
}
.landing-page-a p{
    color: #001d61;
    /* font-size: 15px; */
    text-align: justify;
    margin: 0;
}
.landing-page-b{
    margin: 30px 0 0 0;
    color: #001d61;
}
.landing-page-b h4{
    font-size: 15px;
    font-weight: bold;
}
.landing-page-b p{
    /* font-size: 15px; */
    margin: 0;
    text-align: justify;
}